/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

/* usar position absolute  */
.logo {
  height: 6em;
  /*padding: 1.5em;*/
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 0.2em black);
}
.logo.react:hover {
  filter: drop-shadow(0 0 0.2em black);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: black;
}

img{
 
  height: 20rem;
  
 
}

.ItemImg{
  justify-content: center;
}

.cart-widget{
  height: 20rem;
  position: absolute;
  right: 8%;
  top: 12rem;
  
}

.CardItem{
  display: flex;
  border-radius: 80px;
  justify-content: center;
  flex-direction: column;
  background-color:rgb(254, 212, 173);
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 23rem;
  align-items: center;
}

h2{
  color: black;
}

p{
  color: black;
}
.Controls{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  margin-top: 10px;
}


